* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dflex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-family: montserrat;
}


.container {
    width: 1500px;
    max-width: 1170px;
    margin: auto;
}

#main_menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 10px;
}

#main_menu li {
    display: inline-block;
    margin: 0 20px;
}

#main_menu a {
    text-decoration: none;
}

.benner {
    position: relative;
}

.benner img {
    width: 100%;
}

.benner_content {
    position: absolute;
    color: white;
    font-size: 50px;
    top: 0;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menu_icon {
    color: red;
}
.features{
    padding: 50px;
}


